node_modules/
dist/
.env
.env.*
!.env.example
.vscode/
.DS_Store

# npm 의존성 파일
package-lock.json
.package-lock.json
.vite/
# CHANGELOG.md
claude.md
.claude/
.claude-ignore
# script.md
tsconfig.tsbuildinfo
.wrangler/