                              Data Design + Web Views
Now that you have completed the requirements document and know what you are going to build, it is
time to start designing your implementation.

You are going to start with designing the front-end web views and designing the data that will be
persisted in the system.

You should commit your work in the GitHub repository by the deadline and be prepared to present
briefly in class (Any type of presentation that is less than 5 minutes should be okay.)

Front-end Web View
Your task is to translate your UI mockups into non-functional front-end code (in HTML and CSS). I would
recommend you use a front-end library or framework, such as React.js, Bootstrap, or both combined,
which can be much easier than writing plain HTML and CSS.

For this initial turn-in, you are trying to implement a first pass at your full user interface. You should just
use dummy data that is a mockup of whatever the actual data is that your system would use. It is ok to
adjust your design from your earlier mockups, as you may find ways to improve your product as you
implement the design.

Data Design
You will need to determine all of the data that will be required to enter your system via input
(whether from user input, files, or some other means) and leave your system (to present to the user or
export) and use this information to figure out what needs to be persisted by your system. You will
then model the data that will be persisted in your system.

You have a few options for how to model the data that will be persisted:
1. My recommended approach: model the data with a UML class diagram and plan to use an
   ORM/ODM to map your classes to the database (such as Sequelize for Node.js). This diagram
   should include the class name and attributes and any association relationships between objects.
2. For information stored in a relational database with manually designed tables (as opposed to
   tables generated automatically by an ORM), this section should contain database table definitions
   (schemas), showing the name and type of each column, and primary key and foreign key
   constraints.
3. For information stored in a document-oriented (NoSQL) database, for which you are not using a
   persistence framework, this section should describe the document structure in the way that is
   most appropriate for your chosen database.

Make your names (for the classes, attributes, tables, etc.) as clear and complete as possible.
Accompanying text should briefly describe the meaning of any names that would not be obvious.
Contributions
In the data design document, write a list of each team member's contributions to this assignment,
including main activities and work products.



How to Submit
The front-end web code should be committed into your GitHub repository integrated on the main
branch. The code should either be in the base directory or a folder, whatever makes sense for your
project. If there are additional steps needed to view your website (beyond opening them in a web
browser), this should be documented in your README.md file in the repository.

For the data design, save this as a PDF file in your “Documents” folder in your repository and submit
on BrightSpace. Save the file as ProjectName-DataDesign.pdf – Replace “ProjectName” with the name
of your project. Make sure your project’s name and all group members’ names + their SBU emails are
on the first page of the document.



Grading
Your project itself is graded on:

Front-end Web View:
- Completeness: is a draft of all the pages implemented?
- Design quality: do the pages look professionally designed and easy to use? Does it follow standard
   UI conventions? Note that I’m not expecting the final polished version now, but the pages should
   still be done well and representative of your design.


Data Views:
- These should also be written in a clear format and use UML correctly if you make a class diagram.
- I will be looking to ensure that you have appropriately designed data to meet your requirements.
  Things I will look for are incompleteness (are all the data objects represented?), or inappropriate
  data design.
